# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/dist/
/build/
/frontend/dist/

# Editor/System directories and files
.idea/
.vscode/
.DS_Store

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
build_error.txt
